.country_search img{
    width: 200px;
    height: 120px;
    padding: 20px;
}
.data{
    margin-left: -50px;
    margin-top: -100px;
}
.country_search{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 500px;
    margin-top: 200px;
    position: relative;
}
.country_search .name,.img,.population,.capital,.latitude,.long,.search{
    margin-bottom: 10px;
}

.country_search .img{
    margin-left: 20px;
}

.country_search .name,.population,.capital,.latitude,.long,.search{
    margin-left: 20px;
}
.country_search .input-group{
    margin-top: 15px;
    margin-left: 17px;
    width: 85%;
}
.country_search .showdata{
    margin-left: 100px;
    margin-top: 20px;
}
.weather_report{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    margin-left: 900px;
    margin-top: -450px;
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.weather_report .city,.temp,.icon,.descr,.pressure,.humid,.rain{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.weather_report .icon{
    margin-left: 80px;
}
.optional{
    margin-top: -520px;
    margin-left: 420px;
}